/* Não queremos que um fragmento fique colado no outro. */

.Card {
    /* background-color: red; */
    border-radius: 10px;
    border: 3px solid;
    overflow: hidden;
    margin: 15px;

    display:flex;
    flex-direction:column;

    /* tamanho do card */
    min-width: 300px;
    max-width: 300px;

}

.Card .Title {
    padding: 10px 0px;
    display: flex;
    justify-content: center;
}

.Card .Content {
    background-color: #fff;
    color: #000;
    padding:10px;

    flex-grow: 1;
    /* ou usa somente o flex */
}
